<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
 <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
        <%- include ('../partials/border.ejs') %>
      <div class="header">
          <nav>
          <%- include ('../partials/nav.ejs') %>
          </nav>
      </div>
      <div class="edit-header">
          <h1><%=plant.name%></h1><br>
          <h2>Edit Care Instructions.</h2>
      </div>

        <form action="/plants/<%=plant._id%>?_method=PUT" method="POST">
          <!-- fieldset for edit -->
          <fieldset class="edit-info">
          <!-- legend for edit info -->
          <legend>EDIT CARE INSTRUCTIONS</legend>
          <!-- light -->
            <label for="light">EDIT LIGHT CARE:</label>
            <input type="textarea" name="light" value="<%=plant.light%>" />
          <!-- water   -->
          <br><br>
            <label for="water">EDIT WATER CARE:</label>
            <input type="textarea" name="water" value="<%=plant.water%>"/>
          <!-- submit -->
          <br><br>
            <input type="submit" name="edit" value="EDIT">


          </fieldset>
        </form>

    <footer>
      <%- include ('../partials/footer.ejs') %>
    </footer>

  </div>
  </body>
</html>
