<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <%- include('../partials/head.ejs') %>
  </head>
  <body>

    <div class="container">
      <%- include ('../partials/border.ejs') %>
      <div class="header">
          <nav>
          <%- include ('../partials/nav.ejs') %>
          </nav>
      </div>

      <!-- HEADER IMG -->
      <div class="header-image">
          <h2>Go the Green <br>Way.</h2>
      </div>

      <div class="shop">Shop Plants</div><br/>
      <!-- CARDS -->
      <div class="card-holder">

        <% for(let i=0; i < plants.length; i++){ %>
          <div class="card">
            <div class="card-body">
            <a href="/plants/<%=plants[i]._id%>">
              <img src="<%=plants[i].img%>" class="card-img-top"/>
            </a> <br><br>
            <h5 class="card-header"><%=plants[i].name%></h5>
          </div>
        </div>
        <%}%>
    </div>

    <!-- footer -->
    <footer>
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </div>
  </body>
</html>
