<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
      </nav>
    <div class="container">
      <div class="header">
        <h1 class="title"><a href="/plants" class="title">perrenial.</a></h1>
        <a href="/plants/new">Add a New Plant</a>
        <nav>
          <%- include ('../partials/nav.ejs') %>
          </nav>
      </div>
      <!-- HEADER IMG -->
      <div class="header-image">
          <h2>Go the Green <br>Way.</h2>
      </div>

      <div class="shop">Shop Plants</div><br/>
      <!-- CARDS -->
      <div class="card-holder">

        <% for(let i=0; i < plants.length; i++){ %>
          <div class="card">
            <div class="card-body">
            <a href="/plants/<%=plants[i]._id%>">
              <img src="<%=plants[i].img%>" class="card-img-top"/>
            </a> <br/>
            <h5 class="card-header"><%=plants[i].name%></h5>
          </div>
        </div>
        <%}%>
    </div>
  </div>
  </body>
</html>
