<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <img src="<%=plants.img%>" alt="">
    <h1><%=plants.name%></h1>
    <ul>
      <li><%=plants.size%></li>
      <li><%=plants.price%></li>
      <li><%if(plants.petFriendly === true){%>
        Pet Friendly
        <% }else{ %>
        This plant is not pet friendly
      <%}%></li>
      <li><%=plants.light%></li>
      <li><%=plants.water%></li>
      <li><%=plants.qty%></li>

    </ul>
  <button type="button" name="button"><a href="/plants/<%=plants.id%>/edit">Edit</a></button>
    <form action="/plants/<%=plants._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
  </body>
</html>
